.carte-liste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cards {
  grid-area: cards;
}

.carousel {
  display: none;
}

@media (max-width: 750px) {
  body {
    /* background-color: aqua; */
  }
  .carte-liste {
    /* background-color: rgb(251, 255, 0); */
    display: none;
  }

  .carousel {
    display: block;
    width: 100vw;
  }
}
