:root {
  margin: 0;
  padding: 0;
  --colorgreen: #ccb361;
  --colororange: #e99f6f;
  --colorpink: #9b4c8f;
  --colorpinkdarker: #89454e;
  --colormiddleblue: #114891;
  --colorbrown: #33240d;
  --colorwhite: #fcfeff;
  --colorbluedark: #262c8b;
  --colorbluelight: #508dd7;
  --colororangedark: #b36f35;
  --fonttitle: "Orbitron", sans-serif;
  --fonttext: "Montserrat", sans-serif;
}

.carte-caroussel {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30vh;
  max-height: 37vh;
  height: 35vh;
  padding: 1.5vh;
  margin: 2vh;
  border-radius: 5vh;
  border: 1.5px #5c5a5a solid;
  box-shadow: 0px 5px 8px #5c5a5a;
  overflow: hidden;
  transition: .5s;
  background-color: #292724;
  gap: 1.5vh;
}

img {
  object-fit: contain;
  margin: 2vh;
  width: 20vh;
  height: 20vh;
  border-radius: 5vh;
  filter: drop-shadow(0px 4px 6px rgb(0, 250, 167));
  /* 0, 137, 250 */
}
h3 {
  font-size: 3vh;
  font-family: var(--fonttitle);
  color: var(--colorwhite);
  text-align: center;
}
p {
  font-weight: 600;
  text-align: center;
}
ul {
  padding: 0;
  width: 25vh;

  li {
    margin: 2vh;
    text-align: center;
    color: var(--colorWhite);
    font-family: var(--fontText);
  }
}
.centered-content {
  display: flex;
  margin-top: 0.5vh;
  justify-content: flex-end;
}

.carte-caroussel:hover {
  box-shadow: 2px 3px 17px 10px rgba(0, 250, 167);

  .centered-content {
    background-color: #292724;
  }
  .wrapper {
    opacity: 1;
    visibility: visible;
    background-color: rgba(27, 31, 21, 0.8);
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

#affiliation {
  position: relative;
}

/* Like */

.centered-content {
  display: flex;
  margin-top: 0.5vh;

  .sendMessage {
    margin-top: 2vh;
    color: rgb(54, 110, 156);
    padding-right: 0.5vh;
    cursor: pointer;
    z-index: 2;
    width: 4vh;
    height: 3vh;
  }

  .search {
    margin-top: 1vh;
    color: rgb(107, 56, 141);
    padding-right: 0.5vh;
    cursor: pointer;
    z-index: 2;
    width: 4vh;
    height: 3vh;
  }
}

.heart-container {
  --heart-color: rgb(66, 194, 151);
  position: relative;
  width: 3vh;
  height: 3vh;
  transition: .3s;
  z-index: 2;
  margin-left: 2vh;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked ~ .svg-container .svg-filled {
  display: block;
}

.heart-container .checkbox:checked ~ .svg-container .svg-celebrate {
  display: block;
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}
