.carte-caroussel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vh;
  height: 35vh;
  padding: 1.5vh;
  margin: 2vh;

  border-radius: 1rem;
  border: 1.5px #5c5a5a solid;
  box-shadow: 0px 5px 8px #5c5a5a;
  overflow: hidden;
  transition: .5s;

  img {
    object-fit: contain;
    margin: 1vh;
    width: 20vh;
    min-height: 28vh;
    max-height: 28vh;
    /* aspect-ratio: 1 / 1; */
    /* border-radius: 50%; */
  }
  h3 {
    /* overflow: hidden; */
    /* position: relative; */
    margin: 1vh;
    font-size: 2rem;
    /* margin-top: 4vh; */
  }
  p {
    font-weight: 600;
    text-align: center;
  }
  ul {
    padding: 0;
    margin: .5vh;

    li {
      padding-left: -40px;
      margin: .5vh;
      text-align: center;
    }
  }

  .Wrapper {
    position: relative;
  }

  #affiliation {
    position: relative;
    /* bottom: -100px; */
    bottom: 20px;
    text-align: center;
    transition: .5s ease-in-out;
  }
}

.carte-caroussel:hover {
  box-shadow: 0px 0px 69px 25px rgba(80, 123, 209, 0.74);

  #affiliation {
    transition: .5s ease-in-out;
    position: relative;
    bottom: 100px;
  }
}

@media (max-width: 750px) {
  body {
    background-color: aquamarine;
  }
  .carte-caroussel {
    width: 30vw;
  }
}
