:root {
  --noise: url(https://i.gyazo.com/a26366e538851a5c569ff648e99b7fd4.png);
}

.hero {
  outline: 1px solid red;
  background-color: lightgrey;
  border-radius: 1rem;
  grid-area: hero;
  margin-block: 5vh;
}

img {
  max-height: 250px;
  width: 50%;
  gap: 1rem;
  height: auto;
  align-self: flex-start;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}
