.message {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  min-height: 6rem;
  padding: 1rem 1.5rem;
  .message__name {
    font-size: 1.7rem;
  }

  img {
    max-height: 3.5rem;
    margin-right: .5rem;
  }
  input {
    width: 110%;
  }
}
