/* *************** */
/* UTILITY CLASSES */
/* *************** */

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Il est possible de modifier la taille du container en fonction du design */
.container {
  width: 80%;
  max-width: 1000px;
}

/* GRID TEMPLATE AREA */
.header {
  grid-area: header;
}

.carte-caroussel {
  grid-area: list;
}

.heroContainer {
  grid-area: hero;
}

.menu {
  grid-area: menu;
}
