@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* *************** */
/* UTILITY CLASSES */
/* *************** */

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Il est possible de modifier la taille du container en fonction du design */
.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

/* PAGE LAYOUT */
.grid {
  display: grid;
  grid-template-areas: "menu header" "menu hero" "menu cards";
  grid-template-rows: 40vh 40vh auto;
}
